SDEV 220 Module 3 Programming assignment    
Mark Atkins  11/04/2023

In [1]:
# For fun: 7.1 Create a list called years_list, starting with the year of your birth

years_list = [1959 + n for n in range(6)]
years_list

[1959, 1960, 1961, 1962, 1963, 1964]

7.4 Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [4]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

7.5 Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?
*yes, the element changed using my syntax things[1] = things[1].capitalize()

In [6]:
things[1] = things[1].capitalize()
things

['mozzarella', 'Cinderella', 'salmonella']

7.6 Make the cheesy element of things all uppercase and then print the list.

In [7]:
things[0] = things[0].upper()
things

['MOZZARELLA', 'Cinderella', 'salmonella']

7.7 Delete the disease element from things, collect your Nobel Prize, and print the list.

In [14]:
things.pop()
things
# alternative method
things = ["mozzarella", "cinderella", "salmonella"]
things
things.remove("salmonella")
things

['mozzarella', 'cinderella']

For fun: 7.10 Use a list comprehension to make a list called even of the even numbers in range(10).

In [17]:
even = [2*n for n in range(10//2)]
even

[0, 2, 4, 6, 8]

9.1 Define a function called good() that returns the following list: ['Harry', 'Ron', 'Hermione'].

In [18]:
def good():
    return ['Harry', 'Ron', 'Hermione']
print(good())

['Harry', 'Ron', 'Hermione']

9.2 Define a generator function called get_odds() that returns the odd numbers from range(10). Use a for loop to find and print the third value returned.

In [23]:
def get_odds(max=10):  ## allow optional argument for the max value
    for n in range(max):
        if n%2: yield n  ## n%2 returns 1 for odd (remainder = 1)


# Use a for loop to find and print the third value returned (WHICH IS TOTALLY SILLY)
i = 1
for n in get_odds():
    if i==3:
        print('Third value returned from get_odds() is', n)
    i += 1

Third value returned from get_odds() is 5